In [3]:
# 모듈 불러오기
import pandas as pd
import numpy as np

In [2]:
# csv 파일 가져오기
state = pd.read_csv("https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/master/data/state.csv")
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [7]:
# 표준편차
state["Population"].std()

6848235.347401142

In [6]:
# IQR
state["Population"].quantile(0.75) - state["Population"].quantile(0.25)

4847308.0

In [11]:
# MAD
# 수식은 맞는데 값이 살짝 다르네... 흠?
def MAD(data):
    return np.median(np.absolute(data - np.median(data)))
MAD(state["Population"])

2596702.0

표준편차는 MAD의 거의 두배가 된다. 사실 표준편차는 특잇값에 민감하므로 이 결과는 놀라운 것이 아니다!